body{
     font-family: "Comfortaa", sans-serif;
}
.parent{
    position: relative;
    border: 1px black solid;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.solid-circle{
    height: 750px;
    width: 750px;
    background: blue;
    border-radius: 50%;
    position: absolute;
    right: -375px;
    top: -120px;
    z-index: 1;

}
.header-home{
   
    display: flex;
    justify-content: space-around;
    position: absolute;
    z-index: 2;
    width: 120%;
    top: 10px;
    padding: 0px 25px;

}
.website{
     position: relative;
     right: 15%;

}
#click-here-btn{
    background-color: rgb(243, 241, 240);
    color: black;
    font-size: large;
    font-weight: 600;
    box-shadow: 4px 4px 2px rgba(0,0,0,0.50);
    position: relative;
    right: 25px;
}
#Name{
    color: blue;
    font-size: 150px;
}
#form-floating{
    box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
    border-radius: 8px;
}
#login-button{
    background: blue;
    color: white;
    padding: 5px 25px;
}

.main-content{
    margin-left: 25px;

}
@media only screen and (max-width: 768px) {
    .solid-circle{
        
        background: black;
        width: 300px;
        height: 300px;
        right: -150px;
        top: -120px;
    
    }
    #Name{
        color: black;
    }
    #login-button{
        background: black;
    }
    #click-here-btn{
        color: black;

    }

}